*{
  color: black;
  
}


#whole_page{
  background-color: lightblue;
  border-color: rgb(0, 4, 8);
  margin-left: 200px;
  margin-top: 100px;
  margin-bottom:100px;
  margin-right: 200px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px; 
  
}

#name-heading{
  text-align: center;
  
}

.line{

      border-left: 2px solid rgb(0, 1, 14);
      height: 48rem;
      position: absolute;
      right:50%;
      left: 50%;
      bottom: 1%;
      top: 34%;
 
}



.class-1{
  display: flex;
  flex-wrap: wrap;
}

.personal-profile{
flex:1;
}
.class-2{
  display: flex;
  flex-wrap: wrap;
}

.class-3{
  display: flex;
  flex-wrap: wrap;
}
.class-4{
  display: flex;
  flex-wrap: wrap;
}
.personal-interest{
  flex:1;
}



.honors{
flex:1;
}

.contact{
  flex:1;
}